
@import 'reset';
@import 'variable';
@import 'function';
@import 'extend';
@import 'mixin';
@import 'grid';
@import 'font';

//var
//utils
body{
  font-family: 'Roboto', sans-serif;
}
//main


.loading{
  background-color: rgba(#000,0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include flex()
}
//component
.repo{
  @extend %clearfix;
  padding: 24px 0;
  &-wrap{
    float:left;
  }
  &-title{
    font-size: 20px;
    color: #0366D6;
    &:hover{
      text-decoration: underline;
    }
  }
  &-time{
    float: right;
    font-size: 14px;
    color: #5F666F;
  }
}