
@import 'reset';
@import 'variable';
@import 'function';
@import 'extend';
@import 'mixin';
@import 'grid';
@import 'font';

//var
//utils
//main

.loading{
  background-color: rgba(#000,0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include flex()
}